/*Universal*/
html{
  font-size: 18px;
}

body{
  background-color: rgb(40,88,111);
}

/* Navigaton*/
nav ul{
  display: flex;
  background-color: rgb(80,145,176);
}

nav li{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding:20px 75px;
  font-family: 'Varela Round', sans-serif;
}

nav li a{
  text-decoration: none;
}

#name{
  color:white;
  font-size: 1.2rem;
}

#name:hover{
  background-color: transparent;
}

.active a{
  color:rgb(14,38,50);
}

.active:hover a{
  color:rgb(40,88,111);
}

nav li a{
  color:rgb(40,88,111);
}

nav li:hover{
  background-color: rgb(14,38,50);
}

@media only screen and (max-width:1109px){
nav li{
  padding:20px 40px;
}

}

@media only screen and (max-width:710px){

  #name{
    display: none;
  }
nav ul{
   display: flex;
   flex-direction: column;
 }

nav li{
   display: flex;
   align-items: center;
   border:1px solid rgb(25,62,80);
 }

nav li:hover{
   background-color: rgb(14,38,50);
 }

 .active a{
   color:rgb(40,88,111);
 }

}

/*Contact info*/
h1{
  color:white;
  font-size: 2.5rem;
  text-align: center;
  padding-top: 20px;
  font-family: 'Varela Round', sans-serif;
}
.contact{
  font-family: 'Open Sans', sans-serif;
  padding:30px 20px 430px 20px;
  line-height: 1.2rem;
}

.email a{
  color:white;
  font-size: 1.2rem;
}
.email a:hover{
  text-decoration:line-through;
}

@media only screen and (max-width:1109px) {
h1{
  font-size: 2.5rem;
  text-align: center;
  padding-top: 20px;
}
.contact{
  padding:30px 20px 410px 20px;
  line-height: 1.2rem;
}

}
@media only screen and (max-width:710px) {
  h1{
    font-size: 2rem;
    text-align: center;
    padding-top: 20px;
  }

  .contact{
    padding:30px 20px 220px 20px;
    line-height: 1.2rem;
  }

}

/*Footer*/
footer{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(14,38,50);
  padding:15px;

}

.copyrights{
  font-family: 'Varela Round', sans-serif;
}

.copyrights, .fa-envelope{
  color:rgb(80,145,176);
}
