/*Universal*/
html{
  font-size: 18px;
}

body{
  background-color: rgb(40,88,111);
}

/* Navigaton*/
nav ul{
  display: flex;
  background-color: rgb(80,145,176);
}

nav li{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding:20px 75px;
  font-family: 'Varela Round', sans-serif;
}

nav li a{
  text-decoration: none;
}

#name{
  color:white;
  font-size: 1.2rem;
}

#name:hover{
  background-color: transparent;
}

.active a{
  color:rgb(14,38,50);
}

.active:hover a{
  color:rgb(40,88,111);
}

nav li a{
  color:rgb(40,88,111);
}

nav li:hover{
  background-color: rgb(14,38,50);
}

@media only screen and (max-width:1109px){
nav li{
  padding:20px 40px;
}

}

@media only screen and (max-width:710px){

  #name{
    display: none;
  }
nav ul{
   display: flex;
   flex-direction: column;
 }

nav li{
   display: flex;
   align-items: center;
   border:1px solid rgb(25,62,80);
 }

nav li:hover{
   background-color: rgb(14,38,50);
 }

 .active a{
   color:rgb(40,88,111);
 }

}

/*Portfolio header*/
h1{
  text-align: center;
  padding-top: 20px;
  color:white;
  font-size: 2.5rem;
  font-family: 'Varela Round', sans-serif;
}

@media only screen and (max-width:1109px){
  h1{
    text-align: center;
    font-size: 2rem;
  }

}

@media only screen and (max-width:710px) {
  h1{
    text-align: center;
  }
}

/*What I Learned from Codecademy*/
.text{
  padding:20px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.learned{
  padding: 10px 0 10px 60px;
}

.learned h3{
  font-family: 'Varela Round', sans-serif;
  color:white;
}

.learned ul{
  padding-top: 10px;
  list-style-type: disc;
}

.learned li{
  font-family: 'Open Sans', sans-serif;
}

@media only screen and (max-width:1109px) {
  .text{
    padding:20px;
    text-align: center;
  }

  .learned{
    padding: 10px 0 10px 40px;
  }

}

@media only screen and (max-width:710px){
.text{
  padding:20px;
  text-align: center;
}

.learned{
  padding: 10px 0 10px 40px;
}

}

/*Links to project*/
.projects{
  padding: 20px 0 0 40px;
}

.projects h3{
  font-family: 'Varela Round', sans-serif;
  color:white;
}

.jumpstart, .academy, .optics, .teacozy{
  padding-top:10px;
}

.jumpstart h3, .academy h3, .optics h3, .teacozy h3{
  font-family: 'Varela Round', sans-serif;
}

.jumpstart a, .academy a, .optics a, .teacozy a{
  font-size: 1.2rem;
  color: black;
  text-decoration: underline;
}

.jumpstart a:hover, .academy a:hover, .optics a:hover, .teacozy a:hover{
  color:rgb(80,145,176);
  text-decoration: line-through;
}

.jumpstart p, .academy p, .optics p, .teacozy p{
  font-family: 'Open Sans', sans-serif;
}

@media only screen and (max-width:1109px) {
  .projects{
    padding: 10px 20px;
  }
  .jumpstart, .academy, .optics, .teacozy{
    padding-top:10px;
  }

}

@media only screen and (max-width:710px) {
  .projects{
    padding-left:30px;
  }
  .jumpstart, .academy, .optics, .teacozy{
    padding-top:10px;
  }

}

/*Graphics*/
.graphics{
  padding: 20px 0 0 40px;
}

.graphics h3{
  font-family: 'Varela Round', sans-serif;
  color:white;
}

.graphics p{
  font-family: 'Open Sans', sans-serif;
  padding-top: 5px;
}

.graphics ul{
  padding-top: 5px;
  padding-left: 20px;
  list-style-type: disc;
}

.graphics li{
  font-family: 'Open Sans', sans-serif;
}

.stuff{
  font-family: 'Open Sans', sans-serif;
  padding:20px 0 20px 40px;
  color:white;
}

.slideshow{
  width:50em;
  height: auto;
  margin-left:100px;
}

.adventure img, .waves img, .gold img, .mayo img, .front-view img,
.side-view img, .woods img, .flowers img{
  width:100%;
  height: auto;
}

@media only screen and (max-width:1109px) {
  .graphics{
    padding: 20px;
  }
  .graphics p{
    padding-top: 5px;
  }
  .graphics ul{
    padding-top: 5px;
  }
  .stuff{
    padding:0 0 20px 10px;
  }

}

@media only screen and (max-width:710px) {
  .graphics{
    padding-left: 30px;
  }
  .graphics p{
    padding-top: 5px;
  }
  .graphics ul{
    padding-top: 5px;
  }
  .stuff{
    padding:0 0 20px 25px;
  }

}

/*Video*/
.cvp{
  padding:30px 0 30px 100px;
}

video{
  width:70%;
  height:auto;
}

/*Footer*/
footer{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(14,38,50);
  padding:15px;
}

.copyrights{
  font-family: 'Varela Round', sans-serif;
}

.copyrights, .fa-envelope{
  color:rgb(80,145,176);
}
