/*Universal*/
html{
  font-size: 18px;
}

/* Navigaton*/
ul{
  display: flex;
  background-color: rgb(80,145,176);
}

li{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding:20px 75px;
  font-family: 'Varela Round', sans-serif;
}

li a{
  text-decoration: none;

}

#name{
  color:white;
  font-size: 1.2rem;
}

#name:hover{
  background-color: transparent;
}

.active a{
  color:rgb(14,38,50);
}

.active:hover a{
  color:rgb(40,88,111);
}

li a{
  color:rgb(40,88,111);
}

li:hover{
  background-color: rgb(14,38,50);
}

@media only screen and (max-width:1109px){
li{
  padding:20px 40px;
}

}

@media only screen and (max-width:710px){

  #name{
    display: none;
  }
 ul{
   display: flex;
   flex-direction: column;

 }

 li{
   display: flex;
   align-items: center;
   border:1px solid rgb(25,62,80);
 }

 li:hover{
   background-color: rgb(14,38,50);
 }

 .active a{
   color:rgb(40,88,111);
 }

}

/*Main Content */
.name{
  display: flex;
  width: 100vw;
}

.left-side{
  background-color: rgb(58,114,141);
  flex:1;
  padding:1rem;
}

.first{
  font-family: 'Varela Round', sans-serif;
  display: flex;
  justify-content: flex-end;
  color:rgb(25,62,80);
  font-size: 3.5rem;
  padding: 190px 0;
}

.right-side{
  background-color: rgb(25,62,80);
  flex:1;
  padding:1rem;
}

.last{
  font-family: 'Varela Round', sans-serif;
  display: flex;
  justify-content: flex-start;
  color:rgb(58,114,141);
  font-size: 3.5rem;
  padding: 190px 0;
}

.front{
  display: flex;
  justify-content: flex-end;
}

.dev{
  display: flex;
  justify-content: flex-start;
}

.front, .dev{
  font-family: 'Open Sans', sans-serif;
  position:relative;
  bottom:160px;
  font-size: 3rem;
  color:white;
}


/*Footer*/
footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(14,38,50);
  padding:15px;
}

.copyrights{
  font-family: 'Varela Round', sans-serif;
}

.copyrights, .fa-envelope{
  color:rgb(80,145,176);
}
