/* Navigaton*/
ul{
  display: flex;
  background-color: rgb(80,145,176);
}

li{
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding:20px 80px;

}

li a{
  text-decoration: none;
}

@media only screen and (max-width:1072px){
li{
  padding:20px 40px;
}

}

@media only screen and (max-width:680px){

  #name{
    display: none;
  }
 ul{
   display: flex;
   flex-direction: column;
 }

 li{
   display: flex;
   align-items: center;
   border:1px solid rgb(25,62,80);
 }

 li:hover{
   background-color: rgb(14,38,50);
 }

}
